body{
    margin: auto;
}
/* Confuguracion inicial */
.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
body h1, h2, h3, p{
    margin: 0;
}

/* #######SECCIÓN-NOSOTROS###################### */
#contacto{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),  url('/img/fodo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
/* header::before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color:black;
    position: fixed;
    opacity: 0.8;
} */

/* -----------------------NAVBAR-------------------------------- */
#contenedor-navBar{
    display: flex;
    justify-content:space-between;
    position: relative;
    align-items: center;
    
}
#contenedor-navBar .logo{
    margin: 10px;
    width: 120px;
}

#contenedor-navBar ul{
    display: flex;
}
#contenedor-navBar ul li{
    font-family: 'Poppins', serif;
    font-weight:300;
    font-size: 16px;
    margin-right: 50px;
    list-style: none;
    

}
#contenedor-navBar a{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
}
#contenedor-navBar a:hover{
    border-bottom: 1px solid #ffffff;
    transition: 0.6s;
}
/* -----------------------TITULAR-------------------------------- */
#contacto .contenedor-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
    margin: 15vh 0 0 0;
}
#contacto .contenedor-title h1{
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 60px;
    margin: auto;
}
#contacto .contenedor-title h2 {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 24px;
    margin: auto;
}
/* ----------------------SECCION-CONTACTO------------------------------- */
.contenedor-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15vh 0 0 0;
    /* background-color: aquamarine; */
}
.contenedor-info .info{
    margin: 0 20px 0 20px;
    width: 20%;
    height: 220px ;
}

.contenedor-info .info h1{
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    
}
.contenedor-info .info i{
margin: 10px;
font-size: 30px;
}
.contenedor-info .info p{
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 16px;
}
/* ------------------------FOOTER-------------------------------- */

footer .contenedor {
    color: #ffffff;
    /* position: relative; */
    
}
footer{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('/img/footer2.jpg');
    /* background-image: url('/img/footer.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-position-y: 20vh;
    background-size: cover;
    height: 70vh;
    text-align: center;
}
footer .contenedor .eslogan h1 {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 4vh;
}

footer .contenedor .contacto {
    display: flex;
    justify-content:center; 
    margin: 1vh;
}
footer .contenedor .contacto .foot h2 {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}
footer .contenedor .foot {
    margin: 0 20px 0 20px;
    width: 20%;
    height: 220px ;
}
footer .contenedor .foot i {
    margin: 10px;
    font-size: 40px;
}
footer .contenedor .foot p {
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 16px;
}
/* REDES-SOCIALES */

footer .contenedor .redes {
    margin: 0;
}
footer .contenedor .redes .social{
    margin: 0 0 2px 0;
    font-size: 36px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer .contenedor .redes .referencia p{
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}
footer .contenedor .derechos p{
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 16px;
    margin: 2vh 0 0 0;
}
footer .redes i{
    transform: rotate(0);
    transition: 0.4s;
}
footer .redes i:hover{
    transform: rotate(360deg);
    transition: 0.4s;
}

/* #######SECCIÓN-NOSOTROS###################### */

#nosotros{
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
    /* background-image: url('/img/fodo.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),  url('/img/fondo_ns.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
/* -----------------------TITULAR-------------------------------- */
#nosotros .contenedor-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
    margin: 15vh 0;
}
#nosotros .contenedor-title h1{
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 60px;
    margin: 2vh 0;
}
#nosotros .contenedor-title p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 24px;
    width: 70%;
    margin: auto;
}
/* -----------------Propositos------------------------------- */
main #proposito{
    height: 100vh;
    background-image: url('/img/fondo_degra.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;    

    /* centrado vertical de caja */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#contenedor-propositos{
    display: flex;   
    justify-content: space-around;
}

#proposito h1{
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 5vh 0;
}
#proposito p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin: auto; 
}
.box{
    background: rgba(255, 255, 255, 0.5);
    /* Shadow box */
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    /* --------------------- */
    width: 25%;
    height: 50vh;
    border: 0px solid black;
    border-radius: 21px;
}

/*-----------------ResponsiveDesign------------------------ */
#menu-icon{
    display: none;
}
@media (max-width: 800px){
    #menu-icon{
        display: block;
        float: right;
        font-size: 36px;
    }
    header nav{
        position: absolute;
        top: 85px;
        left: 0;
        height: 200px;
        background: #5cb8ff;
        width: 100%;display: none;
        
    }
    header ul{
        flex-direction: column;

    }
    header ul li{
        margin-bottom: 2vh;
        
    }
}
